.navbar{
    background-color: #00a3fa;
    margin: 0px;
    padding: 0px;
    color: #fff;
}
.navigation{
    display: inline-block;
}
.navigation > li
{
    display: inline-flex;
    justify-content: space-between;
	padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.nav-logo {
    height: 24px;
}

.nav-icons {
    max-height: 24px;
    transition: all .3s ease-in-out;
}

.nav-icons:hover {
    transform: scale(1.2);
}

.publisher {
    background-color: #dadada;
    margin: 0px;
}